doctype html
html
    head(lang='en-US')
        title #{user_data.uname}    
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width', initial-scale=1.0)        
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js")        
    body
        nav(class="navbar navbar-inverse")
            div(class="container-fluid")
                div(class="navbar-header")
                    a(class="navbar-brand", href="#") #[strong #{user_data.uname}]
                ul(class="nav navbar-nav")
                    li(id="home-btn", class="active") #[a(href="/home-customer") #[strong Home]]
                    li(id="cart-btn") #[a(href="#cart") #[strong Cart]]
                    li(id="logs-btn") #[a(href="#logs") #[strong Logs]] 
                form(class="navbar-form navbar-left", action="/action")
                    div(class="form-group")
                        input(type="text", class="form-control", placeholder="Search")
                    button(type="submit", class="btn btn-default")
                        i(class="glyphicon glyphicon-search")
                ul(class="nav navbar-nav navbar-right")
                    li #[a(href="/sign-out") #[span(class="glyphicon glyphicon-log-out")] Sign out]
        if error
            div(class="alert alert-danger") Latest event: #{error}
            br
        if msg 
            div(class="alert alert-success") Latest event: #{msg}
            br       

        div(class="page", id="home-page")
            div(class="container-fluid", style="background-color:black;")
                div(class="jumbotron", style="background-color:black;")
                    h1(style="color:white;") Top products        

            form(action="/view-product" method="POST")
                div(class="product-list")        
                    each product in products       
                        div(class="product-card")
                            img(src=product.pimg)
                            h3 #[strong #{product.title}]
                            h3 Buys: #[strong #{product.buys}] 
                            p(class="product-price") #[strong ₹ #{product.price}]
                            p #[button(name="item", value=product.pid, type="submit") View]

        div(class="page", id="cart-page", style="display: none;")
            div(class="container-fluid", style="background-color:black;")
                div(class="jumbotron", style="background-color:black;")
                    h1(style="color:white;") Cart        

            if cart.length > 0
                form(action="/remove-from-cart" method="POST")
                    div(class="cart-list")
                        each c in cart       
                            div(class="cart-card")
                                img(src=c.pimg)
                                h4 Model name: #{c.name}
                                h4 Brand: #{c.brand}
                                h4 Price: ₹ #{c.price}
                                h4 RAM: #{c.ram} GB
                                h4 Internal storage: #{c.iStorage} GB
                                h4 Display Size: #{c.display} cm
                                h4 Battery Life: #{c.battery} mAH
                                h4 Operating System: #{c.os}
                                h4 Camera: #{c.camera} MP
                                h4 Warranty: #{c.warranty} years
                                p #[button(name="item", value=c.pid, type="submit") Remove]
                h2 Total amount: ₹ #{cart_sum}
                form(action="/place-order" method="POST")   
                    div(class="form-group")
                        div(class="radio-inline")
                            label(for="payment") #[input(type="radio", name="payment", value="cash on delivery", checked)] Cash on Delivery  
                        div(class="radio-inline")     
                            label(for="payment") #[input(type="radio", name="payment", value="online payment")] Online payment         
                    button(class="btn btn-warning", style="margin-left: 50px;", type="submit") PLACE ORDER                         
            else
                h1 No items found in your cart!            

        div(class="page", id="logs-page", style="color: red;display: none;")
            div(class="container-fluid", style="background-color:black;")
                div(class="jumbotron", style="background-color:black;")
                    h1(style="color:white;") Logs        

                if logs.length > 0
                    table(class="table table-hover table-dark")
                        thead
                            tr
                                th(scope="col") No.
                                th(scope="col") Title
                                th(scope="col") Cost(₹)
                                th(scope="col") Trader name
                                th(scope="col") Order date
                                th(scope="col") Payment mode
                                th(scope="col") Wareshouse
                                th(scope="col") Shipdate
                        tbody        
                            each log in logs        
                                tr
                                    th(scope="row") #{log.idx}
                                    td #{log.title}
                                    td #{log.cost}
                                    td #{log.trader}
                                    td #{log.odate}
                                    td #{log.mode}
                                    td #{log.city}
                                    td #{log.shipdate}                                
                else
                    h1 No activities so far zzzzz!            
        hr
        script(src='../utils/cust_home.js')
        link(href='../public/css/product.css', rel='stylesheet', type='text/css') 