doctype html
html
    head(lang='en-US')
        title #{user_data.uname}    
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width', initial-scale=1.0)        
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js")        
    body(style="color: white;")
        nav(class="navbar navbar-inverse")
            div(class="container-fluid")
                div(class="navbar-header")
                    a(class="navbar-brand") #[strong #{user_data.uname}]
                ul(class="nav navbar-nav")
                    li(id="home-btn", class="active") #[a(href="/home-trader") #[strong Home]]
                    li(id="add-btn") #[a(href="#add") #[strong Add]]
                    li(id="orders-btn") #[a(href="#orders") #[strong Orders]]
                    li(id="logs-btn") #[a(href="#logs") #[strong Logs]] 
                ul(class="nav navbar-nav navbar-right")
                    li #[a(href="/sign-out") #[span(class="glyphicon glyphicon-log-out")] Sign out]


        div(class="page", id="home-page", style="color: black;")        
            div(class="container-fluid", style="background-color:black;")
                div(class="jumbotron", style="background-color:black;")
                    h1(style="color:white;") My products        

            if products.length > 0
                form(action="/remove-product" method="POST")
                    div(class="product-list")        
                        each product in products       
                            div(class="product-card")
                                img(src=product.pimg)
                                h3 #[strong #{product.title}] 
                                p(class="product-price") #[strong #{product.price} $]
                                p #[button(name="item", value=product.pid, type="submit") Remove]
            else
                h1 You don't have any product on sale!

        div(class="page", id="add-page", style="display: none;")
            div(class="container-fluid", style="background-color:black;")
                div(class="jumbotron", style="background-color:black;")
                    h1(style="color:white;") Add new product                                                              
                    div(class="form-group")
                        label(for="brand") Brand 
                        input(type="text", class="form-control", name="brand", required)                    
                    div(class="form-group")
                        label(for="title") Title
                        input(type="text", class="form-control", name="title", required)
                    div(class="form-group")
                        label(for="price") Price ($)
                        input(type="text", class="form-control", name="price", required)                            
                    div(class="form-group")
                        label(for="ram") RAM (GB)
                        input(type="text", class="form-control", name="ram", required)
                    div(class="form-group")
                        label(for="iStorage") Internal storage (GB)
                        input(type="text", class="form-control", name="iStorage", required)
                    div(class="form-group")
                        label(for="display") Display size (cm)
                        input(type="text", class="form-control", name="display", required)
                    div(class="form-group")
                        label(for="battery") Battery life (mAH)
                        input(type="text", class="form-control", name="battery", required)
                    div(class="form-group")
                        label(for="OS") Operating System 
                        input(type="text", class="form-control", name="OS", required)
                    div(class="form-group")
                        label(for="camera") Camera (MP)
                        input(type="text", class="form-control", name="camera", required)
                    div(class="form-group")
                        label(for="warranty") Warranty (years)
                        input(type="text", class="form-control", name="warranty", required)
                    div(class="form-group")
                        label(for="pimg") Image link
                        input(type="text", class="form-control", name="pimg", id="pimg", required)
                    button(id="add", class="btn btn-success") Add
                    a(class="btn btn-primary", href="/home-trader") Home
                br    
                img(id="display-img", src="", style="display:none;")        
        
        div(class="page", id="logs-page", style="display: none;")
            div(class="container-fluid", style="background-color:black;")
                div(class="jumbotron", style="background-color:black;")
                    h1(style="color:white;") Logs        

                if logs.length > 0
                    table(class="table table-hover table-dark", style="color:white;")
                        thead
                            tr
                                th(scope="col") No.
                                th(scope="col") Title
                                th(scope="col") Cost
                                th(scope="col") Customer name
                                th(scope="col") Order date
                                th(scope="col") Wareshouse
                                th(scope="col") Shipdate
                        tbody        
                            each log in logs        
                                tr
                                    th(scope="row") #{log.idx}
                                    td #{log.title}
                                    td #{log.cost}
                                    td #{log.customer}
                                    td #{log.odate}
                                    td #{log.city}
                                    td #{log.shipdate}                                
                else
                    h1 No activities so far zzzzz! 

        hr
        script(src='../utils/trader_home.js')
        script(src="../utils/add.js")
        link(href='../public/css/product.css', rel='stylesheet', type='text/css') 